<h1>Booking Details</h1>

<% if session[:state] == 'admin' || session[:state] == 'customer' %>
  <%= render 'form' %>
  <br />

  <div class="btn btn-success topcorner2">
    <%= link_to 'Back','/customeroptions', :style =>'color:#000000;' %>
  </div>

<% end %>
