<h1>Tour Details</h1>

<% if session[:state] == 'admin' || session[:state] == 'agent' %>
  <%= render 'form_edit' %>
  <br />

  <div class="btn btn-success topcorner2">
    <%= link_to 'Back','/tours', :style =>'color:#000000;' %>
  </div>

<% end %>
