<h1>Editing Details</h1>

<%= render 'form_edit' %>


<% if session[:state] == 'admin' %>

  <div class="btn btn-success topcorner2">
    <%= link_to 'Back', '/agents' , :style =>'color:#000000;' %>
  </div>

<%else%>

  <div class="btn btn-success topcorner2">
    <%= link_to 'Back', agent_path(session[:member_id]) , :style =>'color:#000000;' %>
  </div>

<% end %>
