
<%= render 'form' %>
<br />

<% if session[:state] == 'admin' %>

  <div class="btn btn-success topcorner2">
    <%= link_to 'Back', '/options' , :style =>'color:#FFFFFF;' %>
  </div>

<%else%>

  <div class="btn btn-success topcorner2">
    <%= link_to 'Back', '/welcome/index' , :style =>'color:#FFFFFF;' %>
  </div>

<% end %>

