
<div class="field" align="center">
  <!-- Brand and toggle get grouped for better mobile display -->

  <% @photo.each do |photo| %>
    <!-- Renders image -->
        <%= render photo %>
    <%end %>

  <%= link_to 'Back', tours_path, :style =>'text-decoration: none;' %></div>
</div>
