<h1>Review Details</h1>

<% if session[:state] == 'admin' || session[:state] == 'customer' %>
  <%= render 'form_edit' %>
  <br />

  <div class="btn btn-success topcorner2">
    <%= link_to 'Back','/bookings', :style =>'color:#000000;' %>
  </div>

<% end %>
